/* main.css */
body {
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d; /* Dark background */
    color: white; /* White text */
}

.container {
    width: 60%;
    margin: auto;
}

header, footer {
    padding: 1em;
    background: #1b1a1a;
    text-align: center;
    color: #fff;
    width: 100%;
}

header {
    padding: 2rem 0;
}

header .header-container {
    position: relative; /* Relative positioning for the container */
    text-align: center;
}

header .header-logo {
    position: absolute; /* Absolute positioning for the logo */
    left: 300px; /* Adjust this value to move the logo left or right */
    top: 80%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertical centering */
    height: 100px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

header h1 {
    display: inline-block;
    margin: 0; /* Removes default margin */
    /* Additional styling for h1 */
}

footer {
    padding: 1rem 0;
    margin-top: 100px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center; /* To vertically center align items in each row */
}

.image-left, .image-right {
    flex-basis: 30%; /* Reduced from 45% to 30% */
}

.text-right, .text-left {
    flex-basis: 65%; /* Adjusted to occupy remaining space */
    text-align: left;
}

.image-left img, .image-right img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.image-right {
    order: 2;
}

.text-left {
    order: 1;
}

.image-left img:hover, .image-right img:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
}

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    flex-basis: 20%; /* Adjust the width of each service */
    margin: 10px;
    text-align: center;
}

.service img {
    width: 100%; /* Adjust the image size as needed */
    height: auto;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.service img:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
}

a {
    text-decoration: none; /* Removes underline */
    color: #f0e68c; /* A light color, in this case, khaki */
    transition: color 0.5s ease; /* Adds a transition effect */
}

a:hover {
    color: orange; /* Changes color to orange on hover */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}