/* main.css */
body {
    font-family: Trebuchet MS, sans-serif;
    font-size: 22px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white; /* Dark background */
    color: #0d0d0d; /* White text */
}

html, body {
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

:not(footer) > p {
    text-align: justify;
}

.container {
    width: 60%;
    margin: auto;
}

header, footer {
    padding: 1em;
    background: #1b1a1a;
    text-align: center;
    color: #fff;
    width: 100%;
}

header {
    padding: 1em;
    background: #1b1a1a;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-top: 40px;
}

header h1 {
    font-size: 30px; /* Smaller but prominent size */
    margin: 0;
}

header h1 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header h1 a:hover {
    color: #eaeaea; /* Lighter shade on hover */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    padding-right: 150px; /* Increased spacing */
}

nav ul li {
    margin-right: 50px; /* Increased spacing */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    padding: 1rem 0;
    margin-top: 100px;
}

.content-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center; /* To vertically center align items in each row */
}

.image-left, .image-right {
    flex-basis: 30%; /* Reduced from 45% to 30% */
}

.text-right, .text-left {
    flex-basis: 65%; /* Adjusted to occupy remaining space */
    text-align: left;
}

.image-left img, .image-right img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.image-right {
    order: 2;
}

.text-left {
    order: 1;
}

.image-left img:hover, .image-right img:hover {
    transform: scale(1.1); /* Slightly enlarges the image */
}

a {
    text-decoration: none; /* Removes underline */
    color: rgb(67, 2, 107); /* A light color, in this case, khaki */
    transition: color 0.5s ease; /* Adds a transition effect */
    font-weight: bold;
}

a:hover {
    color: rgb(109, 3, 176); /* Changes color to orange on hover */
}

ul li {
    text-align: justify;
}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-container {
    width: 30%; /* Adjust the width as per your layout */
    text-align: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional, for rounded corners */
    transition: transform 0.4s ease;
}

.image-container p {
    margin-top: 0px;
}

.image-container img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
}

.image-row p {
    font-size: 20px;
    text-align: center;
}

.code-container {
    position: relative;
    background: #282c34; /* Dark background for code */
    padding: 2px;
    padding-left: 60px;
    border-radius: 10px; /* Rounded borders */
    overflow: auto;
    width: 80%; /* Container width reduced to 80% */
    margin: auto; /* Center the container */
    display: block;
}

.code-container pre {
    margin: 0;
    border-radius: 8px; /* Optional: Rounded borders for the code block */
    overflow: auto; /* Ensures long code lines are scrollable */
}

.code-container .lang-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(209, 117, 3); /* Stylish orange background */
    border: none;
    border-radius: 3px;
    color: white;
    transition: all 0.3s ease;
    font-weight: bold;
}

.code-container .lang-btn:hover {
    background-color: rgb(255, 153, 0); /* Slightly lighter orange on hover */
}

/* Additional styling for the code */
pre {
    margin: 0;
    border-radius: 8px; /* Optional: Rounded borders for the code block */
    padding: 0px; /* Increase top, bottom, left, and right padding */
}

code {
    color: #ffffff; /* Light color for text */
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    font-size: 18px;
    display: block; /* Ensures that the padding applies correctly */
    padding: 0; /* You can adjust this if additional padding is needed */
}

@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

